<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>contactEmailRot13</key>
  <string>fnirqsnfgpbby+ivpb@tznvy.pbz</string>
  <key>contactName</key>
  <string>Antonio Salazar Cardozo</string>
  <key>description</key>
  <string>Try to fill in some missing functionality in vico until it's officially implemented.</string>
  <key>uuid</key>
  <string>43888860-d77d-11e0-9572-0800200c9a66</string>
</dict>
</plist>
